proxy-config.el
auto-save-list/
elpa/
eshell/
magit-errors
request/
site-lisp/
ac-comphist.dat
*~
places
\.recentf
\.smex-items
ido.last
projectile-bookmarks.eld
projectile.cache
auto-save-list
backups
eshell
